<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{pageTitle}}</title>
</head>

<body>
  {{> nav}} {{> header}}
  <p>Profolio of projects</p>

  <ol>
    <li>
      <a href="https://github.com/jamesperrin/node-course-2-web-server" title="node-course-2-web-server" target="_blank">node-course-2-web-server</a>
    </li>
    <li>
      <a href="https://github.com/jamesperrin/node-course-2-weather-app" title="node-course-2-weather-app" target="_blank">node-course-2-weather-app</a>
    </li>
    <li>
      <a href="https://github.com/jamesperrin/node-course-2-notes-app" title="node-course-2-notes-app" target="_blank">node-course-2-notes-app</a>
    </li>
  </ol>

  {{> footer}}
</body>

</html>